{% extends 'base.twig' %}

{% block content %}

	<h1>All messages: </h1>

	<div id="list2">
	   <ol>
		   	{% if messages %}
			    {% for message in messages %}
		      		<li>
		      			<p>{{ message.msg_content|raw }}</p>
		      			<span class="created_at">created at: {{ message.created_at }} | created by: {{ message.name }}</span>
		      		</li>
		      	{% endfor %}
			{% endif %}
	   </ol>
	</div>

{% endblock %}