<!DOCTYPE html>
<html>
    <head>
        <title>Msg App</title>
        <link rel='stylesheet' type="text/css" href="{{ asset('css/style.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/default.js') }}"></script>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>