{% extends 'base.twig' %}

{% block content %}

   	<section class="container"> 
	    <div class="login">
	    	<h1>Login</h1>

	    	<div class="err_msg">
		        <ul>
					{% if errors.any %}
					    {% for error in errors.all %}
					    	<li>{{ error }}</li>    
					    {% endfor %}
					{% endif %}
				</ul>
			</div>

	        <form method="POST" action="/login">
	        	<input type="hidden" name="_token" value="{{ csrf_token() }}">
			    <p><input type="email" name="email" autocomplete="off" placeholder="Email" {% if request is not null and request is not empty %} value="{{ request.old('email') }}"{% endif %} /></p>
			    <p><input type="password" autocomplete="off" name="password" id="password" placeholder="Password" /></p>
			    <p>
			    	<input type="submit" value="Login" />
			    	<a href="/register" class="register_link">Register</a>
			    </p>
			</form>
	    </div>
	</section>

{% endblock %}