{% extends 'base.twig' %}

{% block content %}

	<section class="container"> 
	    <div class="login">
	    	<h1>Sign Up</h1>

	    	<div class="err_msg">
		        <ul>
					{% if errors.any %}
					    {% for error in errors.all %}
					    	<li>{{ error }}</li>    
					    {% endfor %}
					{% endif %}
				</ul>
			</div>

	        <form method="POST" action="/register">
	        	<input type="hidden" name="_token" value="{{ csrf_token() }}">
			    <p><input type="text" name="name" autocomplete="off" placeholder="Name" {% if request is not null and request is not empty %} value="{{ request.old('name') }}"{% endif %} /></p>
			    <p><input type="email" name="email" placeholder="Email" {% if request is not null and request is not empty %} value=" {{ request.old('email') }} "{% endif %} autocomplete="off" /></p>
			    <p><input type="password" name="password" id="password" placeholder="Password" autocomplete="off" /></p>
			    <p>
			    	<input type="submit" value="Sign Up" />
			    	<a href="/" class="register_link">Back</a>
			    </p>
			</form>
	    </div>
	</section>

{% endblock %}