
body {
  background: #0ca3d2 none repeat scroll 0 0;
  color: #404040;
  font: 13px/20px "Lucida Grande",Tahoma,Verdana,sans-serif;
}

.container {
  margin: 80px auto;
  width: 640px;
}

#msg_content{
	width: 300px;
	height: 100px;
	resize: none;
}

.err_msg {
	color: red;
}

.success_msg {
	color: green;
}

/* LOGIN FORM */

.login h1 {
  background: #f3f3f3 none repeat scroll 0 0;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px whitesmoke;
  color: #555;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  margin: -20px -20px 21px;
  text-align: center;
  text-shadow: 0 1px white;
}

.login input[type="text"], .login input[type="email"], .login input[type="password"] {
  width: 278px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-outline-radius: 3px;
  background: white none repeat scroll 0 0;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-image: none;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
  color: #404040;
  height: 34px;
  margin: 5px;
  outline: 5px solid #eff4f7;
  padding: 0 10px;
}

input[type="submit"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #cde5ef linear-gradient(to bottom, #edf5f8, #cde5ef) repeat scroll 0 0;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-image: none;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px white inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
  color: #527881;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  outline: 0 none;
  padding: 0 18px;
  text-shadow: 0 1px #e3f1f1;
}

.login {
  background: white none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 310px;
}

.register_link {
	float: right;
}

/* Messages */

#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;  }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#eee; border-left: 1px solid #999; }
#list2 ol li span { font-size: 15px; color: yellow; }
#list2 ol li a#deletemsg { font-size: 15px; color: red; }