{% extends 'base.twig' %}

{% block content %}

	<h3>Logged as: {{ user.name }}</h3>
	<a href="/logout">Logout</a>

	<div class="err_msg">
        <ul>
			{% if errors.any %}
			    {% for error in errors.all %}
			    	<li>{{ error }}</li>    
			    {% endfor %}
			{% endif %}
		</ul>
		{% if msg is defined %}
			{{ msg }}
		{% endif %}
	</div>

	<div class="success_msg">
		{% if session.has('success') %}
			{{ session.get('success') }}
		{% endif %}
	</div>

	<div class="err_msg">
		{% if session.has('error') %}
			{{ session.get('error') }}
		{% endif %}
	</div>

	<div class="add_msg">

		<h2>Create New Message</h2>

		<p>*Only aplhanumeric characters allowed</p>
		<p>Characters left: <span id="msg_length">140</span></p>
		<form method="POST" action="/admin/create_msg">
			<input type="hidden" name="_token" value="{{ csrf_token() }}">
			<textarea name="msg_content" id="msg_content" maxlength="140">{% if request is not null and request is not empty %}{{ request.old('msg_content') }}{% endif %}</textarea>
			<br/>
			<button type="submit">Create</button>
		</form>
	</div>

	<br/>
	
	<div id="list2">
	    <h3>My messages</h3>
	    
	   	{% if user_messages is empty %}
	   		<p>No messages found!</p>
		{% else %}
			<ol>
		    {% for message in user_messages %}
	      		<li>
	      			<p>{{ message.msg_content|raw }}</p>
	      			<span class="created_at">created at: {{ message.created_at }}</span>
	      			<a href="/admin/deletemsg/{{ message.id }}" id="deletemsg">Delete</a>
	      		</li>
	      	{% endfor %}
	      	</ol>
		{% endif %}
	    
	</div>
	
{% endblock %}
